
@{
    ViewBag.Title = "TxnReport";
    Layout = "~/_AdminMaster.cshtml";
}
<style>
    fieldset {
        background-color: #eeeeee;
    }

    legend {
        background-color: gray;
        color: white;
        padding: 5px 10px;
    }

    .custom-gridjs-th {
        background-color: #794abf !important;
        color: #fff !important;
    }
    .disablescss {
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
       
    }
</style>
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- row -->
        <!-- row -->
        <div class="row row-sm ">
            <div class="col-md-12 col-xl-12">



                <div class="card overflow-hidden review-project">
                    <div class="card-body">
                        <fieldset class="fieldsethead">
                            <legend class="legendhead">Filter</legend>
                            <br />
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <select class="form-control" name="choices-single-default" id="ddlServices">
                                                <option value="All Service">All Service</option>
                                                <option value="RECHARGE">RECHARGE</option>
                                                <option value="AEPS">AEPS</option>
                                                <option value="MATM">MATM</option>
                                                <option value="DTH">DTH</option>
                                                <option value="ELECTRICITY">ELECTRICITY</option>
                                                <option value="DMT">DMT</option>
                                                <option value="UPI">UPI</option>
                                                <option value="QR CODE">QR CODE</option>
                                                <option value="ONLINE PAYMENT">ONLINE PAYMENT</option>
                                                <option value="LESSER REPORT">LESSER REPORT</option>
                                                <option value="ADMIN LESSER REPORT">ADMIN LESSER REPORT</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="date" class="form-control" id="txtfromDate" placeholder="Choose date ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="date" class="form-control" id="txtToDate" placeholder="Choose date ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <select class="form-control" data-trigger name="choices-single-default" id="ddlStatus">
                                                <option value="">All</option>
                                                <option value="Success">Success</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Failed">Failed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <p class="fw-semibold mb-2">Select User:</p>
                                            <select class="js-example-basic-single select2-hidden-accessible" name="choices-single-default" id="ddlUsers">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2" style="margin-top:30px">
                                    <div class="">
                                        <div class="">
                                            <div class="input-group">

                                                <button class="btn btn-primary btn-block" id="btnSearch" title="Search" style="border-radius:7px" type="button"><i class="fa fa-search" style="font-size:17px" aria-hidden="true"></i></button>
                                                &nbsp;&nbsp;
                                                <button class="btn btn-danger btn-block" title="Export To Excel" style="border-radius:7px" type="button"><i class="fa fa-file-excel" style="font-size:17px" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2" style="margin-top:30px">
                                    <div class="">
                                        <div class="">
                                            <div class="input-group">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>




                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">

                                    <div class="card-body">
                                        <div id="grid-search">
                                            <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                                <div class="gridjs-head">
                                                    <div class="gridjs-search" style="width:100% !important">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <input type="search" placeholder="Type a keyword..." aria-label="Type a keyword..." class="gridjs-input gridjs-search-input">
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <h4 class="card-title mg-b-12" style="font-weight:bold; margin-top:3px;text-align:right">Reporting | No. Of Transcation: <span id="TotalTran"></span> | Total Transcation Amount: <span id="TotalTranAmt"></span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gridjs-wrapper" style="height: auto;">
                                                    <table class="gridjs-table" style="height: auto;" id="tblTxnReport">
                                                        <thead class="custom-thead">
                                                            <tr>
                                                                <th data-column-id="date" class="custom-gridjs-th" style="width: 150px;">
                                                                    <div class="gridjs-th-content">TXN ID</div>
                                                                </th>
                                                                <th data-column-id="name" class="custom-gridjs-th" style="width: 150px; "><div class="gridjs-th-content">BankRefNo</div></th>
                                                                <th data-column-id="email" class="custom-gridjs-th" style="width: 200px;"><div class="gridjs-th-content">User Name</div></th>
                                                                <th data-column-id="id" class="custom-gridjs-th" style="width: 150px;"><div class="gridjs-th-content">Operator Name</div></th>
                                                                <th data-column-id="price" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Account No</div></th>
                                                                <th data-column-id="quantity" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Opening Bal</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Amount</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Closing</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Status</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">APIName</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Coming From</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Master Distributor</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Distributor</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">TimeStamp</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Updated Time</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Success</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Failed</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">API Response</div></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="gridjs-tbody" id="TxnReportData">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="gridjs-footer">
                                                    <div class="gridjs-pagination">

                                                        <div class="gridjs-pages" id="paginationContainer">
                                                            @*<button tabindex="0" role="button" disabled="" title="Previous" aria-label="Previous" class="">Previous</button>
                                                                <button tabindex="0" role="button" class="gridjs-currentPage" title="Page 1" aria-label="Page 1">1</button>
                                                                <button tabindex="0" role="button" disabled="" title="Next" aria-label="Next" class="">Next</button>*@
                                                        </div>
                                                    </div>
                                                </div><div id="gridjs-temp" class="gridjs-temp"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel1">API Response</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="Res1" style="font-size: 12px; overflow-wrap: break-word;"></p>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TxnrefundModal" tabindex="-1" aria-labelledby="TxnrefundModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="TxnrefundModalLabelLabel">Txn Update/ <span id="txtTxnDet"></span></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="d-flex align-items-center">
                        <div class="form-check me-3">
                            <input class="form-check-input" type="radio" checked name="refundfailed" id="txnFailed" value="FAILED">
                            <label class="form-check-label" for="yesOption">FAILED</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="refundfailed" id="txnRefund" value="REFUND">
                            <label class="form-check-label" for="noOption">REFUND</label>
                        </div>
                    </div>
                </div>
                <label>Refund Amount</label>
                <input type="text" id="txtRefundAmount" class="form-control" />
                <label>Current Status</label>
                <input type="text" id="txtCurrentStatus" class="form-control disablescss" />
                <label>Refund Pin</label>
                <input type="text" id="txtRefundPin" autocomplete="off" class="form-control" />
                <input type="hidden" id="TxnId" class="form-control" />
                <input type="hidden" id="ServiceName" class="form-control" />
                <input type="hidden" id="AccountNo" class="form-control" />
                <input type="hidden" id="UserId" class="form-control" />
                <input type="hidden" id="UserName" class="form-control" />
                <label>Remarks</label>
                <textarea id="txtRemarks"  class="form-control"  cols="4" rows="4"></textarea>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    CLOSE
                </button>
                <button type="button" class="btn btn-success" onclick="FailedOrRefundAction()" >
                    SUBMIT
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="TxnSuceessModel" tabindex="-1" aria-labelledby="TxnSuceessModelLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="TxnSuceessModelLabel">Txn Update/ <span id="txtTxnSuccessDet"></span></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
          
                <label>Current Status</label>
                <input type="text" id="txtSuccessCurrentStatus" class="form-control disablescss" />
               
                <input type="hidden" id="SucessTxnId" class="form-control" />
                <input type="hidden" id="SucessServiceName" class="form-control" />
                <input type="hidden" id="SucessAccountNo" class="form-control" />
                <input type="hidden" id="SucessUserId" class="form-control" />
                <input type="hidden" id="SucessUserName" class="form-control" />
                <label>Remarks</label>
                <textarea id="SucesstxtRemarks" class="form-control" cols="4" rows="4"></textarea>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    CLOSE
                </button>
                <button type="button" class="btn btn-success" onclick="SuccessAction()">
                    SUBMIT
                </button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="~/Content/assets/CustomJS/Generic.js"></script>
<script src="~/Content/assets/CustomJS/TxnReport.js"></script>