
@{
    ViewBag.Title = "WalletTopUpReport";
    Layout = "~/_AdminMaster.cshtml";
}

<style>
    fieldset {
        background-color: #eeeeee;
    }

    legend {
        background-color: gray;
        color: white;
        padding: 5px 10px;
    }

    .custom-gridjs-th {
        background-color: #794abf !important;
        color: #fff !important;
    }

    .disablescss {
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;
    }
</style>
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- row -->
        <!-- row -->
        <div class="row row-sm ">
            <div class="col-md-12 col-xl-12">



                <div class="card overflow-hidden review-project">
                    <div class="card-body">
                        <fieldset class="fieldsethead">
                            <legend class="legendhead">Filter</legend>
                            <br />
                            <div class="row">
                               
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="date" class="form-control" id="txtfromDate" placeholder="Choose date ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="">
                                        <div class="">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                    <input type="date" class="form-control" id="txtToDate" placeholder="Choose date ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2">
                                    <div class="">
                                        <div class="">
                                            <div class="input-group">

                                                <button class="btn btn-primary btn-block" id="btnSearch" title="Search" style="border-radius:7px" type="button"><i class="fa fa-search" style="font-size:17px" aria-hidden="true"></i></button>
                                                &nbsp;&nbsp;
                                                <button class="btn btn-danger btn-block" title="Export To Excel" style="border-radius:7px" type="button"><i class="fa fa-file-excel" style="font-size:17px" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2" style="margin-top:30px">
                                    <div class="">
                                        <div class="">
                                            <div class="input-group">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>




                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">

                                    <div class="card-body">
                                        <div id="grid-search">
                                            <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                                                <div class="gridjs-head">
                                                    <div class="gridjs-search" style="width:100% !important">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <input type="search" placeholder="Type a keyword..." aria-label="Type a keyword..." class="gridjs-input gridjs-search-input">
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <h4 class="card-title mg-b-12" style="font-weight:bold; margin-top:3px;text-align:right">Reporting | No. Of Transcation: <span id="TotalTran"></span> | Total Transcation Amount: <span id="TotalTranAmt"></span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gridjs-wrapper" style="height: auto;">
                                                    <table class="gridjs-table" style="height: auto;" id="tblTxnReport">
                                                        <thead class="custom-thead">
                                                            <tr>
                                                                <th data-column-id="date" class="custom-gridjs-th" style="width: 150px;">
                                                                    <div class="gridjs-th-content">TXN ID</div>
                                                                </th>
                                                                <th data-column-id="name" class="custom-gridjs-th" style="width: 150px; "><div class="gridjs-th-content">User Name</div></th>

                                                                <th data-column-id="quantity" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Opening Bal</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Amount</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Closing Bal</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Txn Type</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Crdr Type</div></th>

                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Txn date</div></th>
                                                                <th data-column-id="total" class="custom-gridjs-th" style="width: 100px;"><div class="gridjs-th-content">Remarks</div></th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody class="gridjs-tbody" id="TxnReportData">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="gridjs-footer">
                                                    <div class="gridjs-pagination">

                                                        <div class="gridjs-pages" id="paginationContainer">
                                                            @*<button tabindex="0" role="button" disabled="" title="Previous" aria-label="Previous" class="">Previous</button>
                                                                <button tabindex="0" role="button" class="gridjs-currentPage" title="Page 1" aria-label="Page 1">1</button>
                                                                <button tabindex="0" role="button" disabled="" title="Next" aria-label="Next" class="">Next</button>*@
                                                        </div>
                                                    </div>
                                                </div><div id="gridjs-temp" class="gridjs-temp"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel1">API Response</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="Res1" style="font-size: 12px; overflow-wrap: break-word;"></p>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="~/Content/assets/CustomJS/WalletTopup.js"></script>

